@import './themes/dark';
@import './layout/header';

// ************** Player *****************
.rhap_container {
  width: 100%;
  min-width: 280px;
  height: 90px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.rhap_progress-indicator {
  background: #008966;
}

.rhap_time {
  color: white;
}
// ***************************************