.qiuze-header__element {
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}
.active,
.qiuze-header__element:hover {
    background-color: whitesmoke;
    color: black;
}


@media (max-width: 500px) {
    .qiuze-header__element p {
        margin: 0px;
    }
}